.waplayer {
  .player-button {
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  &.paused {
    .player-button {
      background-image: url('../assets/play-arrow.svg');
    }
  }
  &.playing {
    .player-button {
      background-image: url('../assets/pause-button.svg');
    }
  }
}
